python-2nd.py
python.py
python2-2nd.py
python2.py
Stylescape.png
MOCK UP - WPRESO.xd
iPhone 12 Pro Max – 1.png
iPhone 12 Pro Max – 2.png
Landing Page.png
tempCodeRunnerFile.py
Xpreso - Coffee -  restaurant brand.ai
script_practice.js
