@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dosis:wght@200&family=Playfair+Display&family=Vast+Shadow&display=swap");
@-webkit-keyframes testimonials {
  0% {
    background: url("/ASSETS/feedback-27.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("/ASSETS/feedback-28.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("/ASSETS/feedback-29.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@keyframes testimonials {
  0% {
    background: url("/ASSETS/feedback-27.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("/ASSETS/feedback-28.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("/ASSETS/feedback-29.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.main {
  width: 100%;
  height: 100vh;
}

.main .hero-page {
  width: 100%;
  height: 100vh;
  background-image: url("/ASSETS/Xpreso-banner-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main .hero-page .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #85573a;
  padding: 20px 100px;
  -webkit-box-shadow: #000000 4px 3px 6px;
          box-shadow: #000000 4px 3px 6px;
}

.main .hero-page .navbar .logo {
  margin-right: auto;
  width: 100px;
  height: 100px;
  margin-top: 70px;
}

.main .hero-page .navbar .navlinks li {
  display: inline-block;
  list-style: none;
  padding: 10px;
}

.main .hero-page .navbar .navlinks li a {
  text-decoration: none;
  color: #d6b49e;
  font-size: 15px;
  font-weight: bold;
}

.main .hero-page .navbar .contact {
  width: 75px;
  height: 35px;
  border-style: none;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px #00000056;
          box-shadow: 3px 3px #00000056;
  margin: 0px 30px;
}

.main .hero-page .navbar .contact a {
  text-decoration: none;
  color: #85573a;
  font-size: 12px;
  font-weight: bold;
}

.main .hero-page .hero-hero-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 100px;
  padding-top: 200px;
}

.main .hero-page .hero-hero-page .tagline {
  color: #402418;
  font-weight: bold;
  font-size: 35px;
  margin-right: 50px;
}

.main .hero-page .hero-hero-page .paragraph1 {
  color: #85573a;
  font-weight: light;
  font-size: 20px;
  margin-left: 100px;
}

.main .background-img {
  width: 100%;
  height: 100vh;
  background-image: url("/ASSETS/Xpreso-banner-6.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main .about-page {
  width: 100%;
  height: 100vh;
  background: url("/ASSETS/Xpreso-banner-2.png ");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main .about-page .about-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 60px;
  color: #d6b49e;
  padding: 50px;
  text-align: center;
}

.main .about-page .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .about-page .about-content .about-img {
  width: 570px;
  height: 367px;
  padding: 50px 100px;
}

.main .about-page .about-content .about-paragraph {
  padding: 100px;
  font-size: 20px;
  color: #ffffff;
  padding: 50px 50px 50px 20px;
  margin-right: 100px;
}

.main .products-page {
  width: 100%;
  height: 100vh;
  background-color: #85573a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main .products-page .products-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  color: #d6b49e;
  padding: 20px;
  text-align: center;
}

.main .products-page .products-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main .products-page .products-content .hotcoffee {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin-top: 30px;
}

.main .products-page .products-content .hotcoffee p {
  color: #d6b49e;
  font-size: 25px;
}

.main .products-page .products-content .hotcoffee img {
  width: 350px;
  height: 350px;
  border: #d6b49e 2px solid;
  margin: 50px;
  margin-top: 5px;
  padding: 10px 30px 50px 30px;
  -webkit-box-shadow: #000000 4px 3px 6px;
          box-shadow: #000000 4px 3px 6px;
}

.main .products-page .products-content .hotcoffee button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  background-color: #d6b49e;
  border-style: none;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  -webkit-box-shadow: inset 4px 3px 6px, #1f1e1e 4px 3px 6px;
          box-shadow: inset 4px 3px 6px, #1f1e1e 4px 3px 6px;
}

.main .products-page .products-content .hotcoffee button a {
  text-decoration: none;
  color: #402418;
  font-size: 20px;
}

.main .products-page .products-content .pastries {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin-top: 30px;
}

.main .products-page .products-content .pastries p {
  color: #d6b49e;
  font-size: 25px;
}

.main .products-page .products-content .pastries img {
  width: 350px;
  height: 350px;
  border: #d6b49e 2px solid;
  margin: 50px;
  margin-top: 5px;
  padding: 10px 30px 50px 30px;
  -webkit-box-shadow: #000000 4px 3px 6px;
          box-shadow: #000000 4px 3px 6px;
}

.main .products-page .products-content .pastries button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  background-color: #d6b49e;
  border-style: none;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  -webkit-box-shadow: inset 4px 3px 6px, #1f1e1e 4px 3px 6px;
          box-shadow: inset 4px 3px 6px, #1f1e1e 4px 3px 6px;
  margin-right: auto;
}

.main .products-page .products-content .pastries button a {
  text-decoration: none;
  color: #402418;
  font-size: 20px;
}

.main .products-page .products-content .icedcoffee {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin-top: 30px;
}

.main .products-page .products-content .icedcoffee p {
  color: #d6b49e;
  font-size: 25px;
}

.main .products-page .products-content .icedcoffee img {
  width: 350px;
  height: 350px;
  border: #d6b49e 2px solid;
  margin: 50px;
  margin-top: 5px;
  padding: 10px 30px 50px 30px;
  -webkit-box-shadow: #000000 4px 3px 6px;
          box-shadow: #000000 4px 3px 6px;
}

.main .products-page .products-content .icedcoffee button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  background-color: #d6b49e;
  border-style: none;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  -webkit-box-shadow: inset 4px 3px 6px, #1f1e1e 4px 3px 6px;
          box-shadow: inset 4px 3px 6px, #1f1e1e 4px 3px 6px;
}

.main .products-page .products-content .icedcoffee button a {
  text-decoration: none;
  color: #402418;
  font-size: 20px;
}

.main .service-page {
  width: 100%;
  height: 100vh;
  background: url("/ASSETS/Xpreso-banner-4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 250px 50px;
}

.main .service-page span {
  content: " ";
  display: block;
  width: 1240px;
  height: 20px;
  background: #d6b49e;
}

.main .service-page .service-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 180px 0px;
  margin-top: -12%;
}

.main .service-page .service-content img {
  width: 300px;
  height: 300px;
  border: 5px solid #d6b49e;
  border-radius: 100%;
  margin: 10px;
  margin-top: 0px;
}

.main .testimonial-page {
  width: 100%;
  height: 100vh;
  -webkit-animation: testimonials 15s  ease-out infinite normal;
          animation: testimonials 15s  ease-out infinite normal;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  background-position: center;
  background-size: cover;
}

.main .extra-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  background: url("/ASSETS/Xpreso-banner-6.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 70px 100px 600px;
}

.main .extra-page .form-container {
  background: none;
  width: 650px;
  height: 500px;
  border: #ffffff solid 5px;
}

.main .extra-page .form-container .form-header {
  background: none;
  padding: 5px;
  border-radius: 20px 20px 0px 0px;
  height: 50px;
  text-align: center;
}

.main .extra-page .form-container .form-header h2 {
  color: #ffffff;
  padding: 5px;
  font-size: 40px;
  font-weight: 500;
}

.main .extra-page .form-container form {
  padding: 5px;
  display: block;
}

.main .extra-page .form-container form .form-control {
  padding: 10px;
  position: relative;
}

.main .extra-page .form-container form .form-control label {
  display: block;
  padding: 5px;
  font-weight: 400;
  color: #ffffff;
}

.main .extra-page .form-container form .form-control input {
  width: 100%;
  height: 30px;
  padding: 5px;
  display: block;
  border: #ffffff solid;
  border-style: none;
  border-radius: 5px;
}

.main .extra-page .form-container form .form-control i {
  position: absolute;
  top: 45px;
  right: 15px;
  visibility: hidden;
}

.main .extra-page .form-container form .form-control small {
  color: #402418;
  font-size: 12px;
  padding-left: 10px;
  visibility: hidden;
}

.main .extra-page .form-container form .form-control-success {
  padding: 10px;
  position: relative;
}

.main .extra-page .form-container form .form-control-success label {
  display: block;
  padding: 5px;
  font-weight: 400;
  color: #ffffff;
}

.main .extra-page .form-container form .form-control-success input {
  width: 100%;
  height: 30px;
  padding: 5px;
  display: block;
  border: #ffffff solid;
  border: green 2px solid;
  border-radius: 5px;
}

.main .extra-page .form-container form .form-control-success i.fa-check-circle {
  position: absolute;
  top: 45px;
  right: 15px;
  visibility: visible;
  color: green;
}

.main .extra-page .form-container form .form-control-success i.fa-exclamation-circle {
  position: absolute;
  top: 45px;
  right: 15px;
  visibility: hidden;
  color: red;
}

.main .extra-page .form-container form .form-control-success small {
  color: green;
  font-size: 12px;
  padding-left: 10px;
  visibility: hidden;
}

.main .extra-page .form-container form .form-control-error {
  padding: 10px;
  position: relative;
}

.main .extra-page .form-container form .form-control-error label {
  display: block;
  padding: 5px;
  font-weight: 400;
  color: #ffffff;
}

.main .extra-page .form-container form .form-control-error input {
  width: 100%;
  height: 30px;
  padding: 5px;
  display: block;
  border: #ffffff solid;
  border: red 2px solid;
  border-radius: 5px;
}

.main .extra-page .form-container form .form-control-error i.fa-check-circle {
  position: absolute;
  top: 45px;
  right: 15px;
  visibility: hidden;
  color: green;
}

.main .extra-page .form-container form .form-control-error i.fa-exclamation-circle {
  position: absolute;
  top: 45px;
  right: 15px;
  visibility: visible;
  color: red;
}

.main .extra-page .form-container form .form-control-error small {
  color: red;
  font-size: 12px;
  padding-left: 10px;
}

.main .extra-page .form-container form .submit-btn {
  width: 400px;
  height: 30px;
  margin: 0 100px 0 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #402418;
  border: #ffffff solid 3px;
  color: #d6b49e;
  border-radius: 5px;
  cursor: pointer;
}

.main .footer {
  width: 100%;
  height: 188px;
  background-color: #85573a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.main .footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 420px;
  padding-top: 15px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .footer .footer-logo {
  width: 80px;
  height: 80px;
  margin-left: 200px;
}

.main .footer .footer-title {
  color: #402418;
  padding-top: 30px;
}

.main .footer ul {
  margin-left: 150px;
}

.main .footer ul li {
  display: inline-block;
}

.main .footer ul li img {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

.main .footer .footer-text {
  color: #d6b49e;
  font-size: 12px;
  margin-left: 120px;
}

@media only screen and (max-width: 700px) {
  .main {
    width: 100%;
    height: 100vh;
  }
  .main .hero-page {
    width: 100%;
    height: 100vh;
    background-image: url("/ASSETS/mobile-bg--30.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .main .hero-page .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 40px;
    background: none;
    padding: 20px 10px;
  }
  .main .hero-page .navbar .logo {
    width: 82px;
    height: 82px;
  }
  .main .hero-page .navbar .navlinks {
    display: none;
  }
  .main .hero-page .navbar .contact {
    display: none;
  }
  .main .hero-page .navbar .toggle-menu {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    width: 50px;
    height: 38px;
    margin: 20px 20px;
    padding: 100px;
  }
  .main .hero-page .navbar .toggle-menu span {
    content: " ";
    width: 80px;
    height: 10px;
    background: #402418;
    border-radius: 50px;
  }
  .main .hero-page .hero-hero-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "tagline", "paragraph1";
  }
  .main .hero-page .hero-hero-page .tagline {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: tagline;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    color: #402418;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 50px 30px;
    text-align: center;
  }
  .main .hero-page .hero-hero-page .paragraph1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: paragraph1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    color: #85573a;
    font-weight: light;
    text-justify: inherit;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
  }
  .main .about-page {
    width: 100%;
    height: 100vh;
    background-image: url("./ASSETS/mobile-bg--31.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .main .about-page .about-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 40px;
    color: #d6b49e;
    padding: 20px;
    text-align: center;
  }
  .main .about-page .about-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .main .about-page .about-content .about-img {
    width: 100px;
    height: 100px;
    padding: 10px 50px;
  }
  .main .about-page .about-content .about-paragraph {
    font-size: 12px;
    color: #ffffff;
    margin-right: 100px;
  }
  .main .products-page {
    width: 100%;
    height: 100vh;
    background: #402418;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .main .service-page {
    width: 100%;
    height: 100vh;
    background: url("./ASSETS/mobile-bg--32.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .main .testimonial-page {
    width: 100%;
    height: 100vh;
    background: url("./ASSETS/mobile-bg--33.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .main .extra-page {
    width: 100%;
    height: 100vh;
    background: url("./ASSETS/mobile-bg--34.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
/*# sourceMappingURL=style.css.map */